﻿.genericHeadingDark
{
    background: #0000FF;
    color: #000;
}

.rightMenuContainer
{
    background: #00FFFF;
    color: #000;
}

.percentageBlue
{
    background-color: #0000FF;
}

.nav-collapse a
{
    background: #00ffff !important;
}

.nav-collapse a:hover
{
    background: #0000ff !important;
}

.homeHeaderContainer
{
    background: #0000ff
}

.arrow-down
{
    border-top: 20px solid #0000ff;
}

.NotificationsItemContainer
{
    border-bottom: 2px solid #fff;
}

.NotificationsMessage
{
    color: #000;
}

.genericMainHeading
{
    background-color: #0000ff;
}

.genericMainHeading h2
{
    color: #00ffff;
}

.grid figcaption
{
    background: #0000FF;
}

.missionHeader
{
    background-color: #0000FF;
}