﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Accelerate-Error404.aspx.cs" Inherits="Accelerate_Error404" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div>
            <img src="img/imgDeloitteLogoBlack.png" width="185px" />
        </div>
    <div>
        <h2>Error 404. Page not found</h2>
    </div>
    </div>
    </form>
</body>
</html>
